html * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.containerCard{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  
}
.containerDelete{
  display: flex;
  justify-content: space-between;
}
.buttonDelete{
  width: 5vw;
}
.cardBlog{
  width: 28%;
  height: 24vh;
  border: 1px solid black;
  margin: 7px;
}
.titleBlog{
  text-align: center;
  height: 10vh;
  font-size: 15px;
}
.containerButton{
  display: flex;
  justify-content: space-between;
}
.buttonDetails{
  width: 100%;
}
.containerDetails{
  display: flex;
  justify-content: center;
}
.informationDetails{
  text-align: center;
  width: 75%;
}
.containerEdit{
  display: flex;
  flex-direction: column;
}
/* responsive */
@media (max-width: 700px) {
  .cardBlog{
    width: 40%;
    height: 25vh;
    border: 1px solid black;
    margin: 5px;
  }
  .buttonDelete{
    width: 10vw;
  }
  .titleBlog{
    font-size: large;
  }
}
@media (max-width: 600px) {

  .titleBlog{
    font-size: 12px;
  }
}
